*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gradle
.gradle/
gradle/
build/
gradlew
gradlew.bat

# IDEA
.idea/
*.iml

# Redis
redis-2.8.12.tar.gz
redis-2.8.12/
dump.rdb
